{% load static %}
            <!--scrollbar Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">My Assesment Report</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table" >
                            <thead class="bg-brown" >
                                <th>#</th>
                                <th>Module</th>
                                <th>Score</th>
                                <th>Remark</th>
                                <th>Actions</th>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>Personality, Social and Emotional development</td>
                                <td> 89</td>
                                <td> Exellent</td>
                                <td>
                                    <span><i class="bi bi-eye" ></i></span>
                                    <span><i class="bi bi-download ms-2" ></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Language, Communication and Literacy development</td>
                                <td> 79</td>
                                <td> Very Good.</td>
                                <td>
                                    <span><i class="bi bi-eye" ></i></span>
                                    <span><i class="bi bi-download ms-2" ></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Creative, Expressive and Aesthetic development</td>
                                <td> 89</td>
                                <td> Exellent.</td>
                                <td>
                                    <span><i class="bi bi-eye" ></i></span>
                                    <span><i class="bi bi-download ms-2" ></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" ><b>Total</b></td>
                                <td colspan="3" ><b>344</b></td>
                            </tr>
                            <tr>
                                <td colspan="2" ><b>Average</b></td>
                                <td colspan="3" ><b>85.5</b></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Close</span>
                        </button>
    
                    </div>
                </div>
            </div>
        </div>
    
    
             <!--scrollbar Modal -->
             <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
             <div class="modal-dialog modal-xl " role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLongTitle">Lessons and Schedules</h5>
                         <button type="button" class="close" data-bs-dismiss="modal"
                             aria-label="Close">
                             <i data-feather="x"></i>
                         </button>
                     </div>
                     <div class="modal-body">
                         <table class="table" >
                             <thead class="bg-brown" >
                                 <th>#</th>
                                 <th>Module</th>
                                 <th>Start Date</th>
                                 <th>End Date</th>
                                 <th>Actions</th>
                             </thead>
                             <tr>
                                 <td>1</td>
                                 <td>Personality, Social and Emotional development</td>
                                 <td> 28, July 2022</td>
                                 <td> 28, August 2022</td>
                                 <td>
                                    <span><i class="bi bi-plus-square" ></i></span>
                                    <span><i class="bi bi-pencil-square ms-2 " ></i></span>
                                    <span><i class="bi bi-trash ms-2" ></i></span>
                                 </td>
                             </tr>
                             <tr>
                                 <td>2</td>
                                 <td>Language, Communication and Literacy development</td>
                                 <td> 28, September 2022</td>
                                 <td> 28, October 2022</td>
                                 <td>
                                    <span><i class="bi bi-plus-square" ></i></span>
                                    <span><i class="bi bi-pencil-square ms-2" ></i></span>
                                    <span><i class="bi bi-trash ms-2" ></i></span>
                                 </td>
                             </tr>
                             <tr>
                                 <td>3</td>
                                 <td>Creative, Expressive and Aesthetic development</td>
                                 <td> 28, Dec 2022</td>
                                 <td> 28, January 2022</td>
                                 <td>
                                    <span><i class="bi bi-plus-square" ></i></span>
                                    <span><i class="bi bi-pencil-square ms-2" ></i></span>
                                    <span><i class="bi bi-trash ms-2" ></i></span>
                                 </td>
                             </tr>
                         </table>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-light-secondary"
                             data-bs-dismiss="modal">
                             <i class="bx bx-x d-block d-sm-none"></i>
                             <span class="d-none d-sm-block">Close</span>
                         </button>
     
                     </div>
                 </div>
             </div>
         </div>





           <!--scrollbar Modal -->
           <div class="modal fade" id="forum" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLongTitle" aria-hidden="true">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                       <button type="button" class="close" data-bs-dismiss="modal"
                           aria-label="Close">
                           <i data-feather="x"></i>
                       </button>
                   </div>
                   <div class="modal-body">
                      <div class="comment-section">
                          <div class="user d-flex mt-3">
                              <img class="mt-3" style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                              <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                              <span class="mt-3 ms-3" ><b>1 reply</b></span>
                          </div>
                         
                         <div class="comment">
                             <p class="ms-5 text-brown " >
                                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                  Earum non amet nam.
                         </div>
                         <div class="reply-section ms-5">
                          <div class="user d-flex mt-3">
                              <img class="mt-3"  style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                              <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                          </div>
                         
                         <div class="reply ms-3">
                             <p class="ms-5 text-brown " >
                                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                             </p>
                         </div>
                      </div>
                      </div>
  
                      <div class="comment-section">
                          <div class="user d-flex mt-3">
                              <img class="mt-3" style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                              <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                              <span class="mt-3 ms-3" ><b>0 replies</b></span>
                          </div>
                         
                         <div class="comment">
                             <p class="ms-5 text-brown " >
                                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                  Earum non amet nam.
                             </p>
                         </div>
                         
                      </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-light-secondary"
                           data-bs-dismiss="modal">
                           <i class="bx bx-x d-block d-sm-none"></i>
                           <span class="d-none d-sm-block">Close</span>
                       </button>
   
                   </div>
               </div>
           </div>
       </div>