{% load static %}
            <!--scrollbar Modal -->
            <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-xl " role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">My Assesment Report</h5>
                        <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                            <i data-feather="x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table" >
                            <thead class="bg-brown" >
                                <th>#</th>
                                <th>Module</th>
                                <th>Score</th>
                                <th>Remark</th>
                                <th>Actions</th>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>Personality, Social and Emotional development</td>
                                <td> 89</td>
                                <td> Exellent</td>
                                <td>
                                    <span><i class="bi bi-eye" ></i></span>
                                    <span><i class="bi bi-download ms-2" ></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Language, Communication and Literacy development</td>
                                <td> 79</td>
                                <td> Very Good.</td>
                                <td>
                                    <span><i class="bi bi-eye" ></i></span>
                                    <span><i class="bi bi-download ms-2" ></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Creative, Expressive and Aesthetic development</td>
                                <td> 89</td>
                                <td> Exellent.</td>
                                <td>
                                    <span><i class="bi bi-eye" ></i></span>
                                    <span><i class="bi bi-download ms-2" ></i></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2" ><b>Total</b></td>
                                <td colspan="3" ><b>344</b></td>
                            </tr>
                            <tr>
                                <td colspan="2" ><b>Average</b></td>
                                <td colspan="3" ><b>85.5</b></td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                            <i class="bx bx-x d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Close</span>
                        </button>
    
                    </div>
                </div>
            </div>
        </div>
    
    
             <!--scrollbar Modal -->
             <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLongTitle" aria-hidden="true">
             <div class="modal-dialog modal-xl " role="document">
                 <div class="modal-content">
                     <div class="modal-header">
                         <h5 class="modal-title" id="exampleModalLongTitle">Lessons and Schedules</h5>
                         <button type="button" class="close" data-bs-dismiss="modal"
                             aria-label="Close">
                             <i data-feather="x"></i>
                         </button>
                     </div>
                     <div class="modal-body">
                         <table class="table" >
                             <thead class="bg-brown" >
                                 <th>#</th>
                                 <th>Module</th>
                                 <th>Start Date</th>
                                 <th>End Date</th>
                                 <th>Actions</th>
                             </thead>
                             <tr>
                                 <td>1</td>
                                 <td>Personality, Social and Emotional development</td>
                                 <td> 28, July 2022</td>
                                 <td> 28, August 2022</td>
                                 <td>
                                    <span><i class="bi bi-plus-square" ></i></span>
                                    <span><i class="bi bi-pencil-square ms-2 " ></i></span>
                                    <span><i class="bi bi-trash ms-2" ></i></span>
                                 </td>
                             </tr>
                             <tr>
                                 <td>2</td>
                                 <td>Language, Communication and Literacy development</td>
                                 <td> 28, September 2022</td>
                                 <td> 28, October 2022</td>
                                 <td>
                                    <span><i class="bi bi-plus-square" ></i></span>
                                    <span><i class="bi bi-pencil-square ms-2" ></i></span>
                                    <span><i class="bi bi-trash ms-2" ></i></span>
                                 </td>
                             </tr>
                             <tr>
                                 <td>3</td>
                                 <td>Creative, Expressive and Aesthetic development</td>
                                 <td> 28, Dec 2022</td>
                                 <td> 28, January 2022</td>
                                 <td>
                                    <span><i class="bi bi-plus-square" ></i></span>
                                    <span><i class="bi bi-pencil-square ms-2" ></i></span>
                                    <span><i class="bi bi-trash ms-2" ></i></span>
                                 </td>
                             </tr>
                         </table>
                     </div>
                     <div class="modal-footer">
                         <button type="button" class="btn btn-light-secondary"
                             data-bs-dismiss="modal">
                             <i class="bx bx-x d-block d-sm-none"></i>
                             <span class="d-none d-sm-block">Close</span>
                         </button>
     
                     </div>
                 </div>
             </div>
         </div>





           <!--scrollbar Modal -->
           <div class="modal fade" id="forum" tabindex="-1" role="dialog"
           aria-labelledby="exampleModalLongTitle" aria-hidden="true">
           <div class="modal-dialog" role="document">
               <div class="modal-content">
                   <div class="modal-header">
                       <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                       <button type="button" class="close" data-bs-dismiss="modal"
                           aria-label="Close">
                           <i data-feather="x"></i>
                       </button>
                   </div>
                   <div class="modal-body">
                      <div class="comment-section">
                          <div class="user d-flex mt-3">
                              <img class="mt-3" style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                              <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                              <span class="mt-3 ms-3" ><b>1 reply</b></span>
                          </div>
                         
                         <div class="comment">
                             <p class="ms-5 text-brown " >
                                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                  Earum non amet nam.
                         </div>
                         <div class="reply-section ms-5">
                          <div class="user d-flex mt-3">
                              <img class="mt-3"  style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                              <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                          </div>
                         
                         <div class="reply ms-3">
                             <p class="ms-5 text-brown " >
                                  Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                             </p>
                         </div>
                      </div>
                      </div>
  
                      <div class="comment-section">
                          <div class="user d-flex mt-3">
                              <img class="mt-3" style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                              <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                              <span class="mt-3 ms-3" ><b>0 replies</b></span>
                          </div>
                         
                         <div class="comment">
                             <p class="ms-5 text-brown " >
                                  Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                  Earum non amet nam.
                             </p>
                         </div>
                         
                      </div>
                   </div>
                   <div class="modal-footer">
                       <button type="button" class="btn btn-light-secondary"
                           data-bs-dismiss="modal">
                           <i class="bx bx-x d-block d-sm-none"></i>
                           <span class="d-none d-sm-block">Close</span>
                       </button>
   
                   </div>
               </div>
           </div>
       </div>




    


  <!--sub sub Modal -->
  <div class="modal fade" id="subsub" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered modal-lg modal-dialog-scrollable modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Sub sub title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="row" id="topic-1" >
                <div class="col-12 col-lg-12">
                    <div class="row">
                
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body video">
                                    <video width="320" height="240" controls>
                                        <source src="/static/dashboard/assets/videos/demovideo.mp4" type="video/mp4">
                                        Your browser does not support the video tag.
                                        </video>
                                </div>
                                <div class="row mt-0">
                                    <div class="col-md-4">
                                        <button  data-toggle="modal" data-target="#staticBackdrop" class="btn btn-brown rounded-pill ms-4 mb-3" >Take Module Assesment</button>
                                    </div>
                                    <div class="col-md-2 mt-1 d-flex">
                                        <span style="font-weight: bold; font-size: 18px;" >300K</span>
                                        <i style="font-size:18px;" class="bi bi-hand-thumbs-up text-danger ms-1 " ></i>
                        
                                    </div>
                                    <div class="col-md-2 mt-1 d-flex">
                                        
                                        <span style="font-weight: bold; font-size: 18px;margin-left: 20px;" >10</span>
                                            <i style="font-size:18px;" class="bi bi-hand-thumbs-down text-danger ms-1 mt-1" ></i>
                                    </div>
                                    <div class="col-md-4">
                                        <button class="btn btn-brown rounded-pill ms-4 mb-3" >Add Comment</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        
                        <div class="col-12 col-xl-12">
                            <div class="card" >
                                <div class="card-header">
                                    <h5>Module Comments and Reviews</h5>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-3">
                                        <div class="rate-value d-block bg-brown text-center">
                                            <br>
                                            <div class=" mr-2">
                                                <span></span>
                                                <span >4.6</span>
                                            </div>
                                            <div class=" mb-2 mt-2 " >
                                                <span><i class="bi bi-star-fill text-warning" ></i></span>
                                                <span><i class="bi bi-star-fill text-warning" ></i></span>
                                                <span><i class="bi bi-star-fill text-warning" ></i></span>
                                                <span><i class="bi bi-star-half text-warning" ></i></span>
                                            </div>
                                            <div class=" mb-3 mr-2" >
                                                <span>Total Average Reviews</span>
                                            </div>
                                            <div class="mt-2"><span></span></div>
                                        </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="progress progress-warning  mb-2">
                                                <div class="progress-bar" role="progressbar" style="width: 35%"
                                                    aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress progress-warning  mb-2">
                                                <div class="progress-bar " role="progressbar" style="width: 50%"
                                                    aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress progress-warning  mb-2">
                                                <div class="progress-bar" role="progressbar" style="width: 45%"
                                                    aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress progress-warning  mb-2">
                                                <div class="progress-bar" role="progressbar" style="width: 30%"
                                                    aria-valuenow="35" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div class="progress progress-warning  mb-2">
                                                <div class="progress-bar" role="progressbar" style="width: 10%"
                                                    aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <h6>5 stars</h6>
                                            <h6>4 stars</h6>
                                            <h6>3 stars</h6>
                                            <h6>2 stars</h6>
                                            <h6>1 stars</h6>
                                        </div>
                                    </div>
                                        <div class="comment-section">
                                            <div class="user d-flex mt-3">
                                                <img style="height:50px; width: 50px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                                                <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                                            </div>
                                            
                                            <div class="comment">
                                                <p class="ms-5 text-brown " >
                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                                    Earum non amet nam quam quae eveniet eius commodi quasi, sit, fugiat fugit recusandae eaque rerum! 
                                                    Labore nesciunt libero ad dolor minima?
                                                </p>
                                            </div>
                                            <div class="reply-section ms-5">
                                            <div class="user d-flex mt-3">
                                                <img style="height:50px; width: 50px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                                                <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                                            </div>
                                            
                                            <div class="reply">
                                                <p class="ms-5 text-brown " >
                                                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                                    Earum non amet nam quam quae eveniet eius commodi quasi, sit, fugiat fugit recusandae eaque rerum! 
                                                    Labore nesciunt libero ad dolor minima?
                                                </p>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark btn-sm rounded-pill " data-dismiss="modal">Close</button>
         
        </div>
      </div>
    </div>
  </div>




  
  
  <!--Assesment Modal -->
  <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Module Assesment</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="question">
                <span class="text-brown" >Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                <div class="mb-2 ms-2" >
                    <input type="radio" name="answer" > True
                    <br>
                    <input type="radio" name="answer" > False
                </div> 
            </div>

            <div class="question">
                <span class="text-brown" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum ad amet fuga sint sequi molestiae non nobis hic delectus.</span>
                <div class="mb-2 ms-2 " >
                    <input type="radio" name="answer" > True
                    <br>
                    <input type="radio" name="answer" > False
                </div> 
            </div>
            <div class="question">
                <span class="text-brown" >Lorem ipsum dolor sit amet consectetur, adipisicing elit.</span>
                <div class="mb-2 ms-2" >
                    <input type="radio" name="answer" > True
                    <br>
                    <input type="radio" name="answer" > False
                </div> 
            </div>

            <div class="question">
                <span class="text-brown" >Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore earum ad amet fuga sint sequi molestiae non nobis hic delectus.</span>
                <div class="mb-2 ms-2 " >
                    <input type="radio" name="answer" > True
                    <br>
                    <input type="radio" name="answer" > False
                </div> 
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark btn-sm rounded-pill" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

