{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center" >
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Zingatia Mambo Yanayohusu</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Jinoe (Jiendeleze mwenyewe) ni mfumo mtandaoni unaomwuwezesha mwalimu wa  kitanzania 
              kujifunza na kujiendeleza mwenyewe kwa wakati wake. Jinoe ni mpango mahsusi wa mafunzo rejea na kuboresha uzoefu wa kitaalamu (ujuzi na mazoezi ya kufundisha).Soma zaid</p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'login' %}" class="btn-get-started">Anza</a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
  </main>
  <!-- End #main -->

{% endblock contents %}