{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center" >
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Karibu JINOE,</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Jukwaa mtandaoni la Mafunzo Endelevu kwa Walimu Kazini (MEWAKA) kuongeza ustadi wako wa kufundisha na kuboresha
            uzoefu wa kitaalamu.</p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'login' %}" class="btn-get-started">Anza</a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
  </main>
  <!-- End #main -->

{% endblock contents %}