{% extends 'base.html' %}
{% load static %}
{% block contents %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center" >
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h2 data-aos="fade-up">Focus On What Matters</h2>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Jinoe (Sharpen yourself) is an online portal to facilitate in-service teachers training accross Tanzania. Jinoe Initiative aimes at providiing a reliable way of effectively engage teachers in further
               education and training to refresh and upgrade their professional knowledge, skills and teaching practices. read more</p>
          </blockquote>
          <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
            <a href="{% url 'login' %}" class="btn-get-started">Get Started</a>
          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
  </main>
  <!-- End #main -->

{% endblock contents %}