{% extends 'base.html' %}
{% load static %}
{% block contents %}
<style>

#regForm {
  background-color: #2d0707;
  margin: 100px auto;
  font-family: Raleway;
  padding: 40px;
  width: 100%;
  min-width: 300px;
}

h1 {
  text-align: center; 
  color: wheat; 
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  color: white;
}

button {
  background-color: #04AA6D;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #04AA6D;
}
</style>
  <!-- ======= Hero Section ======= -->
  <section class="hero d-flex align-items-center" >
    <div class="container">
      <div class="row">
        <div class="col-xl-4">
          <h4 data-aos="fade-up">Welcome to Jinoe Plaform</h4>
          <blockquote data-aos="fade-up" data-aos-delay="100">
            <p>Register now to get started</p>
          </blockquote>
          <div class="d-block" data-aos="fade-up" data-aos-delay="200">
            <form id="regForm" method="POST">
              {%csrf_token%}
              <!-- One "tab" for each step in the form: -->
              <div class="tab">Name:
                <div class="row">
                  <div class="col-md-6">
                    <p><input class="form-control mb-3" placeholder="First name..." oninput="this.className = ''"  name="firstname" id="firstname"></p>
                  </div>
                  <div class="col-md-6">
                    <p><input  class="form-control mb-3" placeholder="Last name..." oninput="this.className = ''" name="lastname"  id="lastname"></p>
                  </div>
                </div>
            
                <!-- <p><input  class="form-control mb-3" placeholder="Last name..." oninput="this.className = ''" name="lname"  id="lname"></p>
                <p><input placeholder="Username..." oninput="this.className = ''" name="username"></p> -->

              </div>
              <div class="tab">Contact Info:
                <p><input placeholder="E-mail..." oninput="this.className = ''" name="email" id="email"></p>
                <p><input placeholder="Phone..." oninput="this.className = ''" name="phone" id="phone"></p>
              </div>
              <div class="tab">Birthday:
                <p><input placeholder="dd" oninput="this.className = ''" name="dd"></p>
                <p><input placeholder="mm" oninput="this.className = ''" name="nn"></p>
                <p><input placeholder="yyyy" oninput="this.className = ''" name="yyyy"></p>
              </div>
              <div class="tab">Login Info:
                <p><input placeholder="Username..." oninput="this.className = ''" name="username"></p>
                <p><input placeholder="Password..." oninput="this.className = ''" name="password" type="password"></p>
              </div>
              <div style="overflow:auto;">
                <div style="float:right;">
                  <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                  <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
              </div>
              <!-- Circles which indicates the steps of the form: -->
              <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
              </div>
            </form>
              <!-- <form action="" id="regForm" class="login-form" method="POST">
                {%csrf_token%}
                <div class="tab">:
                  <div class="row">
                    <div class="col-md-6">
                        <input type="text" class="form-control mb-3" name="username" id="username" placeholder="Username">
                    </div>
                    <div class="col-md-6">
                        <input type="email" class="form-control mb-3 " name="email" id="email" placeholder="Email">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control mb-3 " name="firstname" id="firstname" placeholder="First Name">
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control mb-3 " name="lastname" id="lastname" placeholder="Last Name">
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control mb-3" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="col-md-6">
                        <input type="password" class="form-control mb-3" name="comfirm_password" id="comfirm_password"  placeholder="Confirm Password">
                    </div>
                    <div class="col-md-12">
                        <select name="level" id="level" class="form-control mb-3" >
                          <option value="">Select Eduction level you want to register to</option>
                          {% for eduction_level in eduction_levels%}
                            <option value="{{eduction_level.id}}">{{eduction_level.name}}</option>
                          {%endfor%}
                        </select>
                    </div>
                   <button type="submit" class="btn-get-started">Sign Up</button> 
                    <div id ="message" class="alert alert-secondary" role="alert">
                     Your account has been created successifully<a href="{% url 'login' %}" class="alert-link"> click here to login</a>
                    </div>
                  </div>
                </div>
              
                <div class="tab">Contact Info:
                  <p><input placeholder="E-mail..." oninput="this.className = ''" name="email"></p>
                  <p><input placeholder="Phone..." oninput="this.className = ''" name="phone"></p>
                </div>
                <div class="tab">Birthday:
                  <p><input placeholder="dd" oninput="this.className = ''" name="dd"></p>
                  <p><input placeholder="mm" oninput="this.className = ''" name="nn"></p>
                  <p><input placeholder="yyyy" oninput="this.className = ''" name="yyyy"></p>
                </div>
                <div class="tab">Login Info:
                  <p><input placeholder="Username..." oninput="this.className = ''" name="uname"></p>
                  <p><input placeholder="Password..." oninput="this.className = ''" name="pword" type="password"></p>
                </div>
                <div style="overflow:auto;">
                  <div style="float:right;">
                    <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                    <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                  </div>
                </div>
               Circles which indicates the steps of the form:
                <div style="text-align:center;margin-top:40px;">
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                  <span class="step"></span>
                </div>
              </form> -->
              <!-- <div class="d-block login-links" data-aos="fade-up" data-aos-delay="200">
                <p class="mt-3" >Already have an account? <a class="text-white" href="{% url 'login' %}">Login Here</a></p>
              </div> -->

          </div>

        </div>
      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
  </main>
  <!-- End #main -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="{% static 'assets/js/auth/register.js' %}"></script> -->
  <script src="{% static 'assets/js/auth/register_wizard.js' %}"></script>

{% endblock contents %}