{% extends 'base.html' %}
{% load static %}
{% block contents %}
<style>

#regForm {
  background-color: #2d0707;
  margin: 50px auto;
  font-family: Raleway;
  padding: 10px;
  width: 100%;
  min-width: 300px;
}

h1 {
  text-align: center; 
  color: wheat; 
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
  color: white;
}

button {
  background-color: hsl(20, 42%, 51%);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: black;
}
</style>
  <!-- ======= Hero Section ======= -->
  <section  class="hero d-flex align-items-center" >
    <div   class="container">
      <div class="row">
        <div class="col-xl-4">
          <h1 data-aos="fade-up">Karibu Jinoe</h1>
          <div class="d-block" data-aos="fade-up" data-aos-delay="200">
            <form id="regForm" method="POST">
              {%csrf_token%}
              <!-- One "tab" for each step in the form: -->
              <div class="tab"> <h5>Taarifa Binafsi:</h5>
                <p><input class="form-control mb-3" placeholder="First name..." oninput="this.className = ''"  name="firstname" id="firstname"></p>
                <p><input  class="form-control mb-3" placeholder="Last name..." oninput="this.className = ''" name="lastname"  id="lastname"></p>
              </div>
              <div class="tab">   <h5>Taarifa za Mawasiliano:</h5>
                <p><input placeholder="E-mail..." oninput="this.className = ''" name="email" id="email"></p>
                <p><input type="number" placeholder="Phone..." oninput="this.className = ''" name="phone" id="phone"></p>
              </div>
              <div class="tab"> <h5>Changua Mafunzo:</h5>
                <div class="col-md-12">
                
                  {% for eduction_level in eduction_levels%}
                  <div class="radio-card d-flex">
                    <div  class="form-check stream-card">
                      <input style="margin: 10px;" class="form-check-input"  type="radio" name="enrolled_to" id="enrolled_to" value="{{eduction_level.id}}" checked>
                      <label class="form-check-label" for="exampleRadios1">
                        {{eduction_level.name}}
                      </label>
                    </div>
                  </div>
                {%endfor%}
              </div>
              </div>
             
              <div class="tab"> <h5>Taarifa za kuingia:</h5>
                <p><input placeholder="Username..." oninput="this.className = ''" name="username"></p>
                <p><input placeholder="Password..." oninput="this.className = ''" name="password1" type="password"></p>
                <p><input placeholder="Comfirm Password..." oninput="this.className = ''" name="password2" type="password"></p>

              </div>
              <div style="overflow:auto;">
                <div id ="message" class="alert alert-success" role="alert">
                
                </div>

                <div style="float:right;">
                  <button style="border-radius: 20px;" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                  <button  style="border-radius: 20px;" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                </div>
              </div>
            </div>
              <!-- Circles which indicates the steps of the form: -->
              <div style="text-align:center;margin-top:40px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
              </div>
            </form>
          </div>

      </div>
      <div style="margin-top: 12px;" class="d-flex">
         <p style="color: white;">Je una account tayari? </p>
        <div>-</div>
        <a style="color: wheat;" href="{% url 'login'%}"> Ingia </a>
      </div>
    </div>
      
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
  </main>
  <!-- End #main -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- <script src="{% static 'assets/js/auth/register.js' %}"></script> -->
  <script src="{% static 'assets/js/auth/register_wizard.js' %}"></script>

{% endblock contents %}