<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jinoe | Dashboard</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/iconly/bold.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/widgets/chat.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/assets/css/app.css' %}">
    <link rel="shortcut icon" href="assets/images/favicon.svg" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        {% block sidebar %}
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="{% url 'welcome' %}"><img  style="height:80%; width:80%;" src="{% static 'assets/img/logo.png' %}" alt="Jinoe" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu" style="margin-top:-2rem;">
                    <ul class="menu">
                        <!-- <li class="sidebar-title">Menu</li> -->
                        <li class="sidebar-item   active">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>
                                    {% if enrolled_level is not none %}
                                        {{ enrolled_level.level.name }}
                                    {% else %}
                                        Hujajisajili kwenye programu yoyote.
                                    {%endif%} 
                                </span>
                            </a>
                        </li>
                        <hr>
                        <li class="sidebar-item menu-link has-sub">
                            <a href="#" class='sidebar-link '>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Taarifa binafsi</span>
                            </a>
                            <ul style="margin-left: 0;" class="submenu ">
                                <li class="submenu-item ">
                                    <i class="bi bi-person"></i>
                                    <a href="{% url 'carrer_profile' %}">Wasifu wa kujiunga na mafunzo</a>
                                </li>
                                <li class="submenu-item ">
                                    <i class="bi bi-graph-up"></i>
                                    <a href="">Ripoti yangu ya tathmini</a>
                                </li>
                                <li class="submenu-item ">
                                    <i class="bi bi-calendar3"></i>
                                    <a data-bs-toggle="modal" data-bs-target="#exampleModalLong2" >Masomo na ratiba</a>
                                </li>
                                <li class="submenu-item ">
                                    <i class="bi bi-bar-chart-steps"></i>
                                    <a href="">Maendeleo ya kibinafsi</a>
                                </li>
                            
                                <li class="submenu-item ">
                                    <i class="bi bi-record2"></i>
                                    <a  data-bs-toggle="modal" data-bs-target="#exampleModalLong">Rekodi zangu za tathmini</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-item menu-link">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-newspaper"></i>
                                <span>Sasisho za ulimwenguni/kimataifa</span>
                            </a>
                        </li>

                        <li class="sidebar-item menu-link">
                            <a href="{% url 'forum' %}" class='sidebar-link'>
                                <i class="bi bi-people-fill"></i>
                                <span>Jukwaa la walimu</span>
                            </a>
                        </li>
                        <li class="sidebar-item menu-link">
                            <a href="{% url 'live_discussion' %}" class='sidebar-link'>
                                <i class="bi bi-chat-left-dots-fill"></i>
                                <span>Majadiliano ya moja kwa moja</span>
                            </a>
                        </li>
                        <li class="sidebar-item menu-link">
                            <a href="{% url 'webinar' %}" class='sidebar-link'>
                                <i class="bi bi-calendar-event-fill"></i>
                                <span>Semina mtandao</span>
                            </a>
                        </li>
                        <hr>
                        <li class="sidebar-item menu-link  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-lock-fill"></i>
                                <span>Mipangilio</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="auth-forgot-password.html">Badili nywila</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="{%url 'logout'%}">Ondoka</a>
                                </li>
                            </ul>
                        </li> 
                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        {% endblock sidebar %}
        <div id="main">
            <header class="mb-3 mt-0">
                <a href="#" class="burger-btn d-block d-xl-none ">
                    <i class="bi bi-justify fs-3"></i>
                </a>
              
            </header>

        {% block contents %}

        {% endblock contents %}

      
    </div>
</div>
<script src="{% static 'dashboard/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'dashboard/assets/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'dashboard/assets/js/single_modules.js' %}"></script>


<script src="{% static 'dashboard/assets/js/main.js' %}"></script>
<script src="{% static 'dashboard/assets/js/module_details.js' %}"></script>
<script src="{% static 'dashboard/assets/js/jinoe_custom_video_player.js' %}"></script>
<script src="{% static 'dashboard/assets/js/curriculum_module_details.js' %}"></script>



</body>

</html>