{% extends 'dashboard/base.html' %}
{% load static %}
{% block contents %}
            <!-- <div class="page-heading">
                <h3>Welcome to Jinoe</h3>
            </div> -->
            <div class="page-content">
                <div class="welcome-msg bg-brown mb-3">
                    <h4>Hello Isaya. Welcome to Jinoe Teacher's Forum</h4>
                </div>
               
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div style="height:70px;" class="d-flex  mb-3 " >
                            <span><button class="btn btn-brown rounded-pill mt-3 ms-3 " >Add Post</button></span>
                            <span class="ms-4" ><button class="btn btn-brown  mt-3 ms-3" ><i class="bi bi-camera-video text-white mt-1 " ></i></button></span>
                            <span class="ms-3" ><button class="btn btn-brown  mt-3 ms-3" ><i class="bi bi-image text-white mt-1 " ></i></button></span>
                        </div>
                        <div class="row">
                           <div class="card">
                               <div class="row">
                                   <div class="col-md-10">
                                       <div class="d-flex" >
                                            <img class="ms-3 mt-3 mb-3" height="50" width="50" style="border-radius: 50px;" src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                                            <div class=" mt-4 ms-2 d-block">
                                                <span>Isaya Bendera</span>
                                                <h6> 1 day ago</h6>
                                            </div>  
                                       </div>
                                       <div class="ms-4" >
                                           <h4 >The topic title will be displayed here</h4>
                                            <p>
                                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nihil eligendi,
                                                voluptatem modi, dignissimos dolorem sapiente velit repellendus vero sunt nemo unde placeat necessitatibus dolor eos nulla quia dolores. Voluptas?
                                            </p>
                                            <div class="row">
                                                <div class="col-md-4 mb-3">
                                                    <span> 200 <i  class="fa fa-thumbs-o-up" ></i></span>
                                                    <span class="ms-5" >5 <i class="fa fa-thumbs-o-down" ></i></span>
                                                </div>
                                                <div class="col-md-6 mb-3">
                                                    <span data-bs-toggle="modal" data-bs-target="#forum" > 10 <i  class="fa fa-comment-o"></i></span>
                                                    <span class="ms-5" >2 <i class="fa fa-eye " ></i></span>
                                                </div>
                                            </div>
                                        </div>
                                   </div>
                                   <div class="col-md-2">
                                        <div class="mt-3" >
                                            <span><i class="bi bi-pencil-square" ></i></span>
                                            <span><i class="bi bi-trash ms-3  " ></i></span>
                                        </div>
                                   </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="d-flex" >
                                             <img class="ms-3 mt-3 mb-3" height="50" width="50" style="border-radius: 50px;" src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                                             <div class=" mt-4 ms-2 d-block">
                                                 <span>Isaya Bendera</span>
                                                 <h6> 1 day ago</h6>
                                             </div>  
                                        </div>
                                        <div class="ms-4" >
                                            <h4 >The topic title will be displayed here</h4>
                                             <p>
                                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nihil eligendi,
                                                 voluptatem modi, dignissimos dolorem sapiente velit repellendus vero sunt nemo unde placeat necessitatibus dolor eos nulla quia dolores. Voluptas?
                                             </p>
                                             <div class="row">
                                                 <div class="col-md-4 mb-3">
                                                     <span> 200 <i  class="fa fa-thumbs-o-up" ></i></span>
                                                     <span class="ms-5" >5 <i class="fa fa-thumbs-o-down" ></i></span>
                                                 </div>
                                                 <div class="col-md-6 mb-3">
                                                     <span data-bs-toggle="modal" data-bs-target="#forum" > 10 <i  class="fa fa-comment-o"></i></span>
                                                     <span class="ms-5" >2 <i class="fa fa-eye " ></i></span>
                                                 </div>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="col-md-2">
                                         <div class="mt-3" >
                                             <span><i class="bi bi-pencil-square" ></i></span>
                                             <span><i class="bi bi-trash ms-3  " ></i></span>
                                         </div>
                                    </div>
                                 </div>
                             </div>
                             <div class="card">
                                <div class="row">
                                    <div class="col-md-10">
                                        <div class="d-flex" >
                                             <img class="ms-3 mt-3 mb-3" height="50" width="50" style="border-radius: 50px;" src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                                             <div class=" mt-4 ms-2 d-block">
                                                 <span>Isaya Bendera</span>
                                                 <h6> 1 day ago</h6>
                                             </div>  
                                        </div>
                                        <div class="ms-4" >
                                            <h4 >The topic title will be displayed here</h4>
                                             <p>
                                                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio nihil eligendi,
                                                 voluptatem modi, dignissimos dolorem sapiente velit repellendus vero sunt nemo unde placeat necessitatibus dolor eos nulla quia dolores. Voluptas?
                                             </p>
                                             <div class="row">
                                                 <div class="col-md-4 mb-3">
                                                     <span> 200 <i  class="fa fa-thumbs-o-up" ></i></span>
                                                     <span class="ms-5" >5 <i class="fa fa-thumbs-o-down" ></i></span>
                                                 </div>
                                                 <div class="col-md-6 mb-3">
                                                     <span data-bs-toggle="modal" data-bs-target="#forum" > 10 <i  class="fa fa-comment-o"></i></span>
                                                     <span class="ms-5" >2 <i class="fa fa-eye " ></i></span>
                                                 </div>
                                             </div>
                                         </div>
                                    </div>
                                    <div class="col-md-2">
                                         <div class="mt-3" >
                                             <span><i class="bi bi-pencil-square" ></i></span>
                                             <span><i class="bi bi-trash ms-3  " ></i></span>
                                         </div>
                                    </div>
                                 </div>
                             </div>
                    <div class="col-12 col-lg-3">

                    </div>
                </div>
            </div> 

            
         <!--scrollbar Modal -->
         <div class="modal fade" id="forum" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLongTitle" aria-hidden="true">
         <div class="modal-dialog" role="document">
             <div class="modal-content">
                 <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLongTitle">Comments</h5>
                     <button type="button" class="close" data-bs-dismiss="modal"
                         aria-label="Close">
                         <i data-feather="x"></i>
                     </button>
                 </div>
                 <div class="modal-body">
                    <div class="comment-section">
                        <div class="user d-flex mt-3">
                            <img class="mt-3" style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                            <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                            <span class="mt-3 ms-3" ><b>1 reply</b></span>
                        </div>
                       
                       <div class="comment">
                           <p class="ms-5 text-brown " >
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Earum non amet nam.
                       </div>
                       <div class="reply-section ms-5">
                        <div class="user d-flex mt-3">
                            <img class="mt-3"  style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                            <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                        </div>
                       
                       <div class="reply ms-3">
                           <p class="ms-5 text-brown " >
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                           </p>
                       </div>
                    </div>
                    </div>

                    <div class="comment-section">
                        <div class="user d-flex mt-3">
                            <img class="mt-3" style="height:30px; width: 30px; border-radius: 50px; " src="{% static 'dashboard/assets/images/faces/1.jpg' %}" alt="">
                            <h5 class="ms-3 mt-3" >Isaya Bendera - 10 July, 2022</h5>
                            <span class="mt-3 ms-3" ><b>0 replies</b></span>
                        </div>
                       
                       <div class="comment">
                           <p class="ms-5 text-brown " >
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                                Earum non amet nam.
                           </p>
                       </div>
                       
                    </div>
                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-light-secondary"
                         data-bs-dismiss="modal">
                         <i class="bx bx-x d-block d-sm-none"></i>
                         <span class="d-none d-sm-block">Close</span>
                     </button>
 
                 </div>
             </div>
         </div>
     </div>
    
            {% endblock contents %}
