{% extends 'dashboard/base.html' %}
{% load static %}
{% block contents %}
            <!-- <div class="page-heading">
                <h4>Welcome to Jinoe</h4>
            </div> -->
            <div class="page-content">
                <section class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                  
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Video</h4>
                                    </div>
                                    <div class="card-body">
                                        <div id="chart-profile-visit"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          
                            <div class="col-12 col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Rating and comments</h4>
                                    </div>
                                    <div class="card-body">
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        <div class="card">
                            <div class="card-body py-4 px-5">
                                <div class="d-flex align-items-center">
                                    <div class="ms-0 name">
										<h6 class="text-muted mb-3">Click subscribe for more</h6>
                                         <button style="background-color:#853636;" class="btn text-white rounded-pill" >Subscribe Now </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h4>Progress</h4>
                            </div>
                            <div class="card-content pb-4">
                             
                            </div>
                        </div>
                      
                    </div>
                </section>
            </div>

			
			{% endblock contents %}