{% extends 'dashboard/base.html' %}
{% load static %}
{% block contents %}
            <!-- <div class="page-heading">
                <h3>Welcome to Jinoe</h3>
            </div> -->
            <div class="page-content">
                <div class="row">
                    <div class="alert level-bg-color" role="alert">
                        <h4 class="alert-heading">Hello {{request.user.username}}.</h4>
                        <h5>Welcome to Jinoe, The Platform to Sharpen Your Teaching Skills.</h5>
                        <h6>You have been enrolled into {{enrolled_level.level.name}}</h6>
                        <hr>
                      </div>
                </div>
                
                <div class="row">
                    <div class="col-12 col-lg-9">
                        <div class="row">
                            
                            {%for module in modules%}
                              {% if not module.get_core_offer_module %}
                            <div class="col-6 col-lg-4 col-md-6">
                                <div  class="card card-x">
                                    <div class="card-body px-3 ">
                                        <div class="card ">
                                            <div class="card-content">
                                                <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                                    alt="Card image cap" />
                                                <div class="card-body">
                                                    <h4 class="card-title">{{module.name}}</h4>
                                                    <p class="card-text">
                                                        This is where simple module details will be displayed.
                                                    </p>
                                                   
                                                    <a href="{% url 'single_module' %}" style="margin-bottom: -30px;" class="btn btn-brown rounded-pill block">View Module</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                            {%endfor%}
                           
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-dark">
                                    {% if modules.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page">
                                            <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                                        </a></li>
                                    {% endif %}
                                    
                                    <li class="page-item"><a class="page-link" href="?page">
                                        Page {{ modules.number }} of {{ modules.paginator.num_pages }}.
                                    </a></li>
                                    {% if modules.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page">
                                            <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                                        </a></li>
                                    {% endif %}
                                </ul>
                            </nav>  
                        </div>
                    </div>
                    <div class="col-12 col-lg-3">
                        {%for module in modules%}
                         {% if module.get_core_offer_module %}
                        <div class="card mb-5 " style="background-color:#a52a2a62;">
                            <div class="card-body px-3 ">
                                <div class="card">
                                    <div class="card-content" style="background-color: #a52a2a62;">
                                        <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                            alt="Card image cap" />
                                        <div class="card-body">
                                            <h4 class="card-title">{{module.name}}</h4>
                                            <p class="card-text">
                                                This is where simple module details will be displayed.
                                            </p>
                                           
                                            <a href="{% url 'single_module' %}" style="margin-bottom: -30px;" class="btn btn-brown rounded-pill block">View Module</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endif%}
                        {%endfor%}
                        
                        <div class="card">
                            <div class="card-header">
                                <h4>Recent Notifications</h4>
                            </div>
                            <div class="card-content pb-4">
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="name ms-4">
                                        <h6 class="mb-1">New Message</h6>
                                        <h6 class="text-muted mb-0">from John Doe - 2 hour ago</h6>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="name ms-4">
                                        <h6 class="mb-1">New Updates</h6>
                                        <h6 class="text-muted mb-0">from administration - 55 mins ago</h6>
                                    </div>
                                </div>
                              
                                <div class="px-4">
                                    <button class='btn btn-block btn-sm  btn-brown rounded-pill font-bold mt-3'>Clear All</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            {% include 'includes/modals.html' %}
     
 {% endblock contents %}