{% extends 'dashboard/base.html' %}
{% load static %}
{% block contents %}
            <!-- <div class="page-heading">
                <h3>Welcome to Jinoe</h3>
            </div> -->
            <div class="page-content">
                <div class="welcome-msg bg-brown mb-3">
                    <h4>Hello Isaya. Welcome to Jinoe, The Platform to Sharpen Your Teaching Skills</h4>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-9">
                       
                        <div class="row">
                            <div class="col-6 col-lg-4 col-md-6">
                                <div  class="card card-x">
                                    <div class="card-body px-3 ">
                                        <div class="card ">
                                            <div class="card-content">
                                                <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                                    alt="Card image cap" />
                                                <div class="card-body">
                                                    <h4 class="card-title">Personality, Social and Emotional development</h4>
                                                    <p class="card-text">
                                                        This is where simple module details will be displayed.
                                                    </p>
                                                   
                                                    <a href="{% url 'single_module' %}" style="margin-bottom: -30px;" class="btn btn-brown rounded-pill block">View Module</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card card-x">
                                    <div class="card-body px-3 ">
                                        <div class="card">
                                            <div class="card-content">
                                                <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                                    alt="Card image cap" />
                                                <div class="card-body">
                                                    <h4 class="card-title">Language, Communication and Literacy development</h4>
                                                    <p class="card-text">
                                                        This is where simple module details will be displayed.
                                                    </p>
                                                   
                                                    <button style="margin-bottom: -30px;" class="btn btn-brown rounded-pill block">View Module</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card card-x">
                                    <div class="card-body px-3 ">
                                        <div class="card">
                                            <div class="card-content">
                                                <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                                    alt="Card image cap" />
                                                <div class="card-body">
                                                    <h4 class="card-title">Creative, Expressive and Aesthetic development</h4>
                                                    <p class="card-text">
                                                        This is where simple module details will be displayed.
                                                    </p>
                                                   
                                                    <button style="margin-bottom: -30px;" class="btn btn-brown rounded-pill block">View Module</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card card-x">
                                    <div class="card-body px-3 ">
                                        <div class="card">
                                            <div class="card-content">
                                                <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                                    alt="Card image cap" />
                                                <div class="card-body">
                                                    <h4 class="card-title">Mathematical and Logical thinking development</h4>
                                                    <p class="card-text">
                                                        This is where simple module details will be displayed.
                                                    </p>
                                                   
                                                    <button style="margin-bottom: -30px;" class="btn btn-brown rounded-pill block">View Module</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card card-x">
                                    <div class="card-body px-3 ">
                                        <div class="card">
                                            <div class="card-content">
                                                <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                                    alt="Card image cap" />
                                                <div class="card-body">
                                                    <h4 class="card-title">Health and Physical Development</h4>
                                                    <p class="card-text">
                                                        This is where simple module details will be displayed.
                                                    </p>
                                                   
                                                    <button style="margin-bottom: -30px;" class="btn btn-brown rounded-pill block">View Module</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-6 col-lg-4 col-md-6">
                                <div class="card card-x">
                                    <div class="card-body px-3 ">
                                        <div class="card">
                                            <div class="card-content">
                                                <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                                    alt="Card image cap" />
                                                <div class="card-body">
                                                    <h4 class="card-title">Development of Environmental awareness</h4>
                                                    <p class="card-text">
                                                        This is where simple module details will be displayed.
                                                    </p>
                                                   
                                                    <button style="margin-bottom: -30px;" class="btn btn-brown rounded-pill block">View Module</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination pagination-dark">
                                    <li class="page-item"><a class="page-link" href="#">
                                            <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
                                        </a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item bg-brown"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">
                                            <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
                                        </a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4>Your Lessons and Schedule</h4>
                                    </div>
                                    <div class="card-body">
                                        <table class="table" >
                                            <thead>
                                                <th>#</th>
                                                <th>Lessons</th>
                                                <th>Star Date</th>
                                                <th>Finish Date</th>
                                                <th>Actions</th>
                                            </thead>
                                            <tr>
                                                <td>1</td>
                                                <td>Kusoma Module</td>
                                                <td> July, 28 2022.</td>
                                                <td> August, 28 2022.</td>
                                                <td>
                                                    <span><i class="bi bi-pencil-square" ></i></span>
                                                    <span class="ms-4" ><i class="bi bi-trash" ></i></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Hesabu Module</td>
                                                <td> July, 28 2022.</td>
                                                <td> August, 28 2022.</td>
                                                <td>
                                                    <span><i class="bi bi-pencil-square" ></i></span>
                                                    <span class="ms-4" ><i class="bi bi-trash" ></i></span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Uraia Module</td>
                                                <td> July, 28 2022.</td>
                                                <td> August, 28 2022.</td>
                                                <td>
                                                    <span><i class="bi bi-pencil-square" ></i></span>
                                                    <span class="ms-4" ><i class="bi bi-trash" ></i></span>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-12 col-lg-3">

                        <div class="card mb-5 " style="background-color:#a52a2a62;">
                            <div class="card-body px-3 ">
                                <div class="card">
                                    <div class="card-content" style="background-color: #a52a2a62;">
                                        <img class="card-img-top"  src="{% static 'dashboard/assets/images/flot.jpg' %}"
                                            alt="Card image cap" />
                                        <div class="card-body">
                                            <h4 class="card-title">Core Offer</h4>
                                            <p class="card-text">
                                                This is where simple module details will be displayed.
                                            </p>
                                           
                                            <button style="margin-bottom: -30px; margin-top: 30px;" class="btn btn-brown btn-sm rounded-pill block">View Module</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="card">
                            <div class="card-header">
                                <h4>Recent Nofifications</h4>
                            </div>
                            <div class="card-content pb-4">
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="name ms-4">
                                        <h6 class="mb-1">New Message</h6>
                                        <h6 class="text-muted mb-0">from John Doe - 2 hour ago</h6>
                                    </div>
                                </div>
                                <div class="recent-message d-flex px-4 py-3">
                                    <div class="name ms-4">
                                        <h6 class="mb-1">New Updates</h6>
                                        <h6 class="text-muted mb-0">from administration - 55 mins ago</h6>
                                    </div>
                                </div>
                              
                                <div class="px-4">
                                    <button class='btn btn-block btn-sm  btn-brown rounded-pill font-bold mt-3'>Clear All</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>

            {% endblock contents %}